/* body section styles */
body{
    margin:0px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* header section styles */
header{
    width:100%;
    height: auto;
}
/* navbar section styles */
.nav{
    width: 70vw;
    height: auto;
    /* margin-bottom: ; */
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.nav-logo img{
    width: 48px;
}
.nav-links > ul{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.nav-links ul > li{
    list-style: none;
}
.nav-links ul li > a{
    text-decoration: none;
    color: #424247;
} 
/* Hamburger icon styles */
.hamburger-icon {
    display: none; /* Hide the hamburger icon by default */
    cursor: pointer;
}
/* banner section styles */
.banner{
    width: 70vw;
    height: auto;
    /* margin-bottom: ; */
    margin:0 auto;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),url('../Images/Group\ 13\ \(1\)\ \(1\).png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 0%;
    color: white;
    border-radius: 10px;
    margin-top: 3%;
}
.banner-title{
    font-size:3em;
    font-weight: bolder;
    margin: 2% 0px;
}
.banner-details{
    font-size: 16px;
}
.banner-form{
    display: grid;
    grid-template-columns: repeat(4,25%);
    background-color: rgb(255, 255, 255,0.4); 
    margin: 2% auto;
    padding: 1% 2%;
    width: 50%;
    border-radius: 10px;
}
.banner-form input,.time,.type{
    border-style: none;
    padding: 6%;
    margin-right: 5%;
    border-radius: 5px;
}
.time, .type{
    color: grey;
}
.banner-form button{
    padding: 2% 4%; 
    background-color: #FF5400;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.search-icon{
    padding-right: 0.3em;
}

/* main section styles */
main section{
    width: 70vw;
    margin: 10% auto 5% auto;
}

/* popular tour section styles */
.popular-tours{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 35em;
}
.populartour-description{
    color: #5A5A5D;
    font-size: 16px;
    padding-top: 1%;
}
.populartour-title{
    margin: 1% 0px;
}
.populartour-description p{
    padding: 1% 0px;
}
.populartour-description ul li{
    padding: 1% 0px;
}
.btn-primary{
    background-color: #FF5400;
    color: white;
    padding: 2% 4%;
    border-style: none;
    border-radius: 5px;
    width: 30%;
}
.populartour-img img{
    width: 80%;
    height: 80%;
    position: relative;
    left: 20%;
}


/* Collage section styles */
.image-collage{
    margin-top: 5%;
}
.collage-details{
    text-align: center;
}
.collage-info{
    font-size: 16px;
    color: #5A5A5D;
}
.collage-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px;
}
.row,.firstrow{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px;
    gap:10px;
}
.firstrow{
    gap: 10px;
}
.child-row{
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
}
.firstimg{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.secondimg{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.second-row{
    display: grid;
    grid-template-columns: 300px 550px auto;
}
.thirdimg{
    background-image: url('../Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.fourthimg{
    background-image: url('../Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.fifthimg{
    background-image: url('../Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.thirdrow{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10px;
}
.sixthimg{
    background-image: url('../Images/Rectangle\ 11.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.seventhimg{
    background-image: url('../Images/Rectangle\ 10.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}




/* service section styles */
.services{
    margin-top: 5%;
}
.service-details{
    text-align: center;
}
.service-info{
    font-size: 16px;
    color: #5A5A5D;
}
.service-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 3%;
}
.card1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    gap:10px;
}
.child-card{                   
    border-radius: 10px;
    padding: 3%; 
}
.child-card1{
    border: 2px solid #f9f0e3; 
    background-color: #fffdfa;
}
.child-card img{
    width: 20%;
}
.child-card p{
    font-size: 16px;
    color: #5A5A5D;
}
.child-card2{
    border: 2px solid #c9f3ff; 
    background-color: #dbe6e9;
}
.card2{
    border: 2px solid #f7d4d4;
    background-color: #fff7f7;
    width: 500px;
    height: 266px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3%;
}
.card2 img{
    width: 20%;
}
.card2 p{
    font-size: 16px;
    color: #5A5A5D;
}

/* deals and discount section styles */
.deals-discount{
    height: auto;
    margin-top: 5%;
}
.deals-details{
    text-align: center;
}
.deals-info{
    font-size: 16px;
    color: #5A5A5D;
}
.deals-container{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(3,auto);
    gap:10px;
}
.deals-container .firstrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-position: center;
}
.deals-container .secondrow{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-image: url('../Images/Group\ 40.png');
    background-repeat: no-repeat;
    background-position: center;
}
.deals-container .thirdrow{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
}
.deals-container .child-container{
    border-radius: 10px;
    width:50%;
    height: 75%;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
}
.child-container i{
    color: #FF5400;
}
.child-container small{
    padding: 0px 0.8em;
    color: #5A5A5D;
}
.deals-info{
    font-size: 16px;
    color: #5A5A5D;
}
.deals-card-description{
    font-size: 16px;
    color: #5A5A5D;
}
.price{
    color: #FF5400;
    font-weight: bold;
}
.btn-primary2{
    width: 20%;
}
.btn-primary3{
    margin: 2% auto;
    width: 20%;
    padding: 1% 0px;
}
/* perfect place section styles */
.perfect-place{
    display: grid;
    grid-template-columns: 50% calc(50% - 5%);
    grid-template-rows: auto;
    gap: 5%;
    align-items: center;
    margin-top: 5%;
}
.perfectplace-details h2{
    font-weight: bolder;
    font-size: 2.5em;
    margin: 0px;
}
.perfectplace-details p{
    color: #5A5A5D;
}
.perfectplace-details p,button{
    padding-top: 1%;
}
.perfectplace-details ul li{
    padding-top:1%;
}
.perfectplace-media video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 10px;
}








/* newsletter section styles */
.newsletter{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 20em;
    gap: 3%;
    margin-top: 5%;
}
.newsletter-details{
    border: 1px solid #FF5400;
    border-radius: 10px;
    padding: 5%;
}
.newsletter-details p{
    font-size: 16px;
    color: #5A5A5D;
}
.newsletter-details form{
    border-top: 1px solid rgb(198, 194, 194);
}
.newsletter-details form input, button{
    display: block;
    width: 100%;
    padding: 3% 0px;
    margin: 2% 0px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
}
.newsletter-details form input::placeholder{
    padding: 4%;
}
.newsletter-details form button{
    margin-top: 2%;
}
.newsletter-img{
    position: relative;
}
.newsletter-img img{
    width: 100%;
    height: 100%;
}
.discount{
    background-color: #FF5400;
    color: white;
    padding: 2%;
    position: absolute;
    bottom: 20%;
    right:1%;
    transform: rotate(-30deg);
    width: auto;
    height: 4em;
    text-align: center;
    border-radius: 10px;
}
.discount-title{
    font-size: 24px;
    font-weight: 200;
    margin: 0px;
}
.discount-title2{
    font-size: 32px;
    margin: 0px;
}


/* footer section styles */
footer{
    background-color: #eaeaea;
}
.footer{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 3% 0px;
}
.footer .nav-logo{
    justify-content: center;
}
.footer .nav-logo h2{
    margin: 2px 0px;
}
.footer-info{
    margin: 0px;
    color: #5A5A5D;
}
.icons i{
    padding: 1%;
}













/* responsive section */
/* media query */

/* mobile devices */
@media screen and (max-width:576px) {

    .nav{
        width: 90%;
    }
    .nav-logo img{
        width: 24px;
    }
    .nav-links {
        display: none;
    }
    /* .nav-links > ul{
        gap: 0.5em;
    } */
    .hamburger-icon {
        display: block; /* Show hamburger icon on small screens */
    }

    /* Style the hamburger icon */
    .hamburger-icon i {
        font-size: 20px;
        color: #FF5400; /* Color for the hamburger icon */
    }

    
    /* banner section styles */
    .banner{
        width: 90%;
        margin-top: 3%;
    }
    .banner-title{
        font-size:2em;
        font-weight: bolder;
        margin: 2% 0px;
    }
    .banner-details{
        width: 80%;
        margin: 2% auto;
    }
    .banner-form{
        grid-template-columns: repeat(1,100%);
        margin: 2% auto;
        padding: 1% 2%;
        width: 90%;
    }
    .banner-form input,.time,.type{
        padding: 4%;
        margin: 2% 0px;
    }
    .banner-form button{
        padding: 4%; 
    }
    /* main section styles */
    main section{
        width: 90%;
        margin: 15% auto;
    }
    
    /* popular tour section styles */
    .popular-tours{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        gap: 5%;
        margin-bottom: 25%;
    }
    .populartour-description{
        font-size: 0.8em;
    }
    .populartour-img img{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0%;
    }

    /* Collage section styles */
    .image-collage{
        margin-top: 5%;
    }
    .collage-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7,auto);
    }
    .collage-info{
        font-size: 0.8em;
    }
    /* .row{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 250px;
    } */
    .firstrow{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,250px);
        margin-bottom: 2%;
    }
    .child-row{
        margin-bottom: 2%;
    }
    .second-row{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .thirdrow{
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        margin-top: 10px;
    }

    /* service section styles */
    .service-cards{
        grid-template-columns: 1fr;
        gap: 40px;
        margin-top: 3%;
    }
    .card1{
        grid-template-columns: repeat(1, 1fr);
        gap:10px;
    }
    .child-card{       
        width: 95%;
        height: 15em;
    }
    .child-card p{
        font-size: 0.8em;
    }
    .card2{
        width: 95%;
        height: 15em;
    }
    .card2 p{
        font-size: 0.8em;
    }
    /* deals and discount section styles */
    .deals-info{
        font-size:0.8em;
    }
    .deals-container{
        grid-template-rows: repeat(3,400px);
    }
    .deals-container .firstrow{
        justify-content: center;
    }
    .deals-container .secondrow{
        justify-content: center;
    }
    .deals-container .thirdrow{
        justify-content: center;
        margin-top: 0px;
    }
    .deals-container .child-container{
        width:80%;
        height: 70%;
        padding: 4%;
    }
    .child-container small{
        padding: 0px 0.6em;
    }
    .deals-info{
        font-size: 0.8em;
    }
    .deals-card-description{
        font-size: 0.8em;
    }
    .btn-primary2{
        width: 30%;
    }
    .btn-primary3{
        width: 40%;
        padding: 2%;
    }
    /* perfect place section styles */
    .perfect-place{
        grid-template-columns: repeat(1,1fr);
    }
    .perfectplace-details h2{
        font-size: 1.5em;
    }

    /* newsletter section styles */
    .newsletter{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    .newsletter-details p{
        font-size: 0.8em;
    }
    .newsletter-img img{
        width: 100%;
        height: 100%;
    }
    .discount{
        bottom: 20%;
        right: 3%;
    }
    .discount-title{
        font-size: 15px;
    }
    .discount-title2{
        font-size: 23px;
    }
    /* footer section styles */
    footer{
        background-color: #eaeaea;
    }
    .footer{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 3% 0px;
    }
    .footer .nav-logo{
        justify-content: center;
    }
    .footer .nav-logo h2{
        margin: 2px 0px;
    }
    .footer-info{
        margin: 0px;
        color: #5A5A5D;
    }
    .icons i{
        padding: 1%;
    }

}