/* body section styles */
body{
    margin:0px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* header section styles */
header{
    width:100%;
    height: auto;
}
/* navbar section styles */
.nav{
    width: 70vw;
    height: auto;
    /* margin-bottom: ; */
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.nav-logo img{
    width: 48px;
}
.nav-links > ul{
    display: flex;
    align-items: center;
    gap: 1.5em;
}
.nav-links ul > li{
    list-style: none;
}
.nav-links ul li > a{
    text-decoration: none;
    color: #424247;
} 

/* banner section styles */
.banner{
    width: 70vw;
    height: auto;
    /* margin-bottom: ; */
    margin:0 auto;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),url('../Images/Group\ 13\ \(1\)\ \(1\).png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5% 0%;
    color: white;
    border-radius: 10px;
    margin-top: 3%;
}
.banner-title{
    font-size:3em;
    font-weight: bolder;
    margin: 2% 0px;
}
.banner-details{
    font-size: 16px;
}
.banner-form{
    display: grid;
    grid-template-columns: repeat(4,25%);
    background-color: rgb(255, 255, 255,0.4); 
    margin: 2% auto;
    padding: 1% 2%;
    width: 50%;
    border-radius: 10px;
}
.banner-form input,.time,.type{
    border-style: none;
    padding: 6%;
    margin-right: 5%;
    border-radius: 5px;
}
.time, .type{
    color: grey;
}
.banner-form button{
    padding: 2% 4%; 
    background-color: #FF5400;
    color: white;
    border-style: none;
    border-radius: 5px;
}
.search-icon{
    padding-right: 0.3em;
}

/* main section styles */
main section{
    width: 70vw;
    margin: 10% auto 5% auto;
}

/* popular tour section styles */
.popular-tours{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 35em;
}
.populartour-description{
    color: #5A5A5D;
    font-size: 16px;
    padding-top: 1%;
}
.populartour-title{
    margin: 1% 0px;
}
.populartour-description p{
    padding: 1% 0px;
}
.populartour-description ul li{
    padding: 1% 0px;
}
.btn-primary{
    background-color: #FF5400;
    color: white;
    padding: 2% 4%;
    border-style: none;
    border-radius: 5px;
}
.populartour-img img{
    width: 80%;
    height: 80%;
    position: relative;
    left: 20%;
}


/* service section styles */
.services{
    margin-top: 5%;
}
.service-details{
    text-align: center;
}
.service-info{
    color: #5A5A5D;
}
.service-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    margin-top: 3%;
}
.card1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px;
    gap:10px;
}
.child-card{                   
    border-radius: 10px;
    padding: 3%; 
}
.child-card1{
    border: 2px solid #f9f0e3; 
    background-color: #fffdfa;
}
.child-card img{
    width: 20%;
}
.child-card p{
    font-size: 16px;
    color: #5A5A5D;
}
.child-card2{
    border: 2px solid #c9f3ff; 
    background-color: #dbe6e9;
}
.card2{
    border: 2px solid #f7d4d4;
    background-color: #fff7f7;
    width: 500px;
    height: 266px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3%;
}
.card2 img{
    width: 20%;
}
.card2 p{
    font-size: 16px;
    color: #5A5A5D;
}

/* perfect place section styles */
.perfect-place{
    display: grid;
    grid-template-columns: 50% calc(50% - 5%);
    grid-template-rows: auto;
    gap: 5%;
    align-items: center;
    margin-top: 5%;
}
.perfectplace-details h2{
    font-weight: bolder;
    font-size: 2.5em;
    margin: 0px;
}
.perfectplace-details p{
    color: #5A5A5D;
}
.perfectplace-details p,button{
    padding-top: 1%;
}
.perfectplace-details ul li{
    padding-top:1%;
}
.perfectplace-media video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 10px;
}








/* newsletter section styles */
.newsletter{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 20em;
    gap: 3%;
}
.newsletter-details{
    border: 1px solid #FF5400;
    border-radius: 10px;
    padding: 5%;
}
.newsletter-details p{
    font-size: 16px;
    color: #5A5A5D;
}
.newsletter-details form{
    border-top: 1px solid rgb(198, 194, 194);
}
.newsletter-details form input, button{
    display: block;
    width: 100%;
    padding: 3% 0px;
    margin: 2% 0px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
}
.newsletter-details form input::placeholder{
    padding: 4%;
}
.newsletter-details form button{
    margin-top: 2%;
}
.newsletter-img{
    position: relative;
}
.newsletter-img img{
    width: 100%;
    height: 100%;
}
.discount{
    background-color: #FF5400;
    color: white;
    padding: 2%;
    position: absolute;
    bottom: 20%;
    right:1%;
    transform: rotate(-30deg);
    width: auto;
    height: 4em;
    text-align: center;
    border-radius: 10px;
}
.discount-title{
    font-size: 24px;
    font-weight: 200;
    margin: 0px;
}
.discount-title2{
    font-size: 32px;
    margin: 0px;
}





















/* responsive section */
/* media query */

/* mobile devices */
@media screen and (max-width:576px) {
    .nav{
        width: 90%;
        flex-direction: column;
    }
    .nav-logo img{
        width: 24px;
    }
    .nav-links > ul{
        gap: 0.5em;
    }
    
    /* banner section styles */
    .banner{
        width: 90%;
        margin-top: 3%;
    }
    .banner-title{
        font-size:2em;
        font-weight: bolder;
        margin: 2% 0px;
    }
    .banner-details{
        width: 80%;
        margin: 2% auto;
    }
    .banner-form{
        grid-template-columns: repeat(1,100%);
        margin: 2% auto;
        padding: 1% 2%;
        width: 90%;
    }
    .banner-form input,.time,.type{
        padding: 4%;
        margin: 2% 0px;
    }
    .banner-form button{
        padding: 4%; 
    }
    /* main section styles */
    main section{
        width: 90%;
        margin: 15% auto;
    }
    
    /* popular tour section styles */
    .popular-tours{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
        gap: 5%;
        margin-bottom: 25%;
    }
    .populartour-description{
        font-size: 0.8em;
    }
    .populartour-img img{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0%;
    }


    /* service section styles */
    .service-cards{
        grid-template-columns: 1fr;
        gap: 40px;
        margin-top: 3%;
    }
    .card1{
        grid-template-columns: repeat(1, 1fr);
        gap:10px;
    }
    .child-card{       
        width: 95%;
        height: 15em;
    }
    .child-card p{
        font-size: 0.8em;
    }
    .card2{
        width: 95%;
        height: 15em;
    }
    .card2 p{
        font-size: 0.8em;
    }

    /* perfect place section styles */
    .perfect-place{
        grid-template-columns: repeat(1,1fr);
    }
    .perfectplace-details h2{
        font-size: 1.5em;
    }

    /* newsletter section styles */
    .newsletter{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    .newsletter-details p{
        font-size: 0.8em;
    }
    .newsletter-img img{
        width: 100%;
        height: 100%;
    }
    .discount{
        bottom: 15%;
        right: 2%;
    }
    .discount-title{
        font-size: 15px;
    }
    .discount-title2{
        font-size: 23px;
    }
}